<app-menu></app-menu>
<div style="margin-top: 50px">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <button style="margin-top: 30px" class="btn btn-primary" (click)="openLocationForm(addLocationModal)">Add Location</button>
        </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
              <label>Search</label>
              <input type="text" class="form-control" [(ngModel)]="keyword">
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button style="margin-top: 30px" class="btn btn-success" (click)="search()">Search</button> &nbsp;
                <button style="margin-top: 30px" class="btn btn-primary" (click)="getAllLocation()">Reset</button>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="card" style="width: 20rem; margin: 2%" *ngFor="let location of locations">
            <img class="card-img-top" src="http://localhost:3000/api/v1/location/image{{location.fileName}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{location.name}}</h5>
                <div class="card-text">
                 {{location.description}}
                </div>
                <button class="btn btn-primary float-left" (click)="getLocationDetails(location._id)" >Details</button> &nbsp;
                <button class="btn btn-success float-right" (click)="openLocationForm(addLocationModal, location)" >Edit</button>
              </div>
            </div>
      </div>
    </div>
</div>
<ng-template #addLocationModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Location</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="addLocationForm" (ngSubmit)="addLocation(addLocationForm.value)">
          <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Description</label>
              <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Image</label>
              <input type="file" (change)="fileUpload($event)">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Address</label>
              <textarea class="form-control" formControlName="address"></textarea>
            </div>
            <div class="text-danger" *ngIf="addLocationForm.invalid">Enter all required fields</div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</ng-template>
